.jobscontainer {
  background-color: #000000;
  min-height: 100vh;
  font-family: 'Roboto';
}
.jobs-cardContainer {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 18px;
  padding-top: 20px;
}
.sideBarContainer {
  width: 100%;
}
.jobsResultContainer {
  width: 100%;
}

.jobsList-Container {
  list-style-type: none;
  padding: 0px;
  width: 100%;
  margin: 0px;
}
@media screen and (min-width: 768px) {
  .jobs-cardContainer {
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
  }
  .sideBarContainer {
    max-width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .jobs-cardContainer {
    gap: 50px;
  }
}
.jobs-loader-container {
  height: 75vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.SearchBarContainer {
  width: 100%;
  height: 36px;
  background-color: transparent;
  border: solid 2px #cbd5e1;
  display: flex;
  align-items: center;
  padding-left: 15px;
  margin-bottom: 18px;
}
.searchInput {
  height: 100%;
  width: 100%;
  background-color: transparent;
  color: #ffff;
  border: none;
  outline: none;
  font-family: 'Roboto';
  font-size: 14px;
}
.searchBtn {
  height: 100%;
  background-color: #2c364c;
  color: #cbd5e1;
  font-weight: 600;
  font-size: 16px;
  border: none;
  outline: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
}
@media screen and (min-width: 768px) {
  .SearchBarContainer {
    max-width: 460px;
    height: 44px;
  }
  .searchInput {
    font-size: 18px;
  }
  #smallsize {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  #largesize {
    display: none;
  }
}
.failureContainer {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.failure_image {
  width: 300px;
  margin-bottom: 25px;
}
.failure_heading {
  font-size: 18px;
  color: #ffff;
  margin: 0px;
}
.failure_para {
  font-size: 10px;
  color: #cbd5e1;
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 15px;
  width: 70%;
}
.failure_btn {
  width: 80px;
  height: 30px;
  background-color: #4f46e5;
  color: #ffff;
  border: none;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .failure_image {
    width: 440px;
  }
  .failure_heading {
    font-size: 30px;
  }
  .failure_para {
    font-size: 14px;
    width: 100%;
  }
  .failure_btn {
    height: 40px;
    width: 100px;
    font-size: 14px;
  }
}
